body {
    background-color: #1F2937;
    font-family: 'Inter', sans-serif;
    margin-top: 75px;
    margin-left: 52px;
    color: white;
}
h1 {
    font-family: 'Karla', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 0;
}
#heading-2 {
    color: #4ADF86;
}

p{
    color: #D5D4D8;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 10px;
}

h2 {
    border-bottom: 2px solid #4B5563;
    padding-bottom: 5px;
}

#customize-wrapper{
    width:500px;
    height: 400;
    border: 1px solid #4B5563;
    border-radius: 5px;
    text-align: left;
    padding: 25px;
    box-shadow: 0px 2px 2px #374151;
    margin-bottom: 20px;
}
#customize-area {
    display: flex;
    justify-content: space-around;
}

#select-type {
    display: flex;
    flex-direction: column;
    
}

button {
    background-color: #10B981;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 6px;
    width: 191px;
    height: 42px;
    margin-left: 170px;
    cursor: pointer;
}

#line {
    margin-top: 20px;
    width:500px;
    margin-left: 25px;
    border-bottom: 2px solid #4B5563;
}
#password-wrapper{
    display: flex;  
    justify-content: space-between;
    width:500px;
    height: 400;
    padding: 25px;

}
.password-box{
    width: 225px;
    height: 39px;   
    background: #273549;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #55F991;
    text-align: center;
}
.slidecontainer {
    width: 100%;
    display: flex;
  }
  .slider-bar{
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider-bar:hover {
    opacity: 1;
  }
  
  .slider-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider-bar::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: #04AA6D;
    cursor: pointer;
  }
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px; 
  }
 .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
 .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
 input:checked + .slider {
    background-color: #10B981;
  }
  
 input:focus + .slider {
    box-shadow: 0 0 1px #10B981;
  }
  
 input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
 .slider.round {
    border-radius: 17px;
  }
  
 .slider.round:before {
    border-radius: 50%;
  }
 .slider-label {
    display: flex;
    align-items: center;
  }
 .label-type {
    margin: 0px;
    font-size: 15px;
    padding-left: 10px;
  }

  @media screen and (max-width: 1080px) {
    #customize-wrapper {
        width=100%
    }
    
  }